h1 {
  color: $sportswap-blue;
  font-size: 30px;
}

.dashboard-card {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: left;
}

.messages-container {
  display: flex;
}

.dashboard-accepted-text {
  color: $green;
}

.dashboard-declined-text {
  color: $sportswap-red
}
