.edit-container1 {
  display: flex;
  justify-content: left;
  margin-top: 40px;
  margin-left: 40px;
}

.edit-container2 {
  display: flex;
  justify-content: center;
}

.edit-container3 {
  display: flex;
  justify-content: center;
  color: #456990;
}

.edit-container4 {
  display: flex;
  justify-content: center;
}

.form-actions-edit {
  padding-bottom: 12px;
  display: flex;
  justify-content: center;
}

.edit-container5 {
  padding-top: 84px;
  display: flex;
  justify-content: center;
  color: #456990;
}

.edit-container6 {
  display: flex;
  justify-content: center;
  color: #456990;
  a {
    color: #EF767A;
  }
  a:hover{
    color: #EF767A;
  }
}

