// Specific CSS for your home-page
p {
  font-weight: 300;
}

h1 {
  color: $sportswap-blue;
}

h2 {
  color: $sportswap-red;
}

h3 {
  color: $sportswap-blue;
  font-size: 21px;
}

h5 {
  color: $sportswap-blue;
  font-size: 21px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.center-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.center-container h1 {
  color: $sportswap_red;
}

.home-header {
  margin-top: 40px;
}
