.login-container1 {
  display: flex;
  justify-content: center;
  // font: "Poppins";
}

.login-container2 {
  display: flex;
  justify-content: center;
  // font: "Poppins";
  color: #456990;
}

.login-container3 {
  display: flex;
  justify-content: center;
  color: #456990;
}

.form-actions-login {
  padding-bottom: 12px;
  display: flex;
  justify-content: center;
}


.login-container-3-adjustment {
  width: 16%;
  a {
    color: #456990;
  }
  a:hover{
    color: #456990;
  }
}

