<%= link_to offers_path(category: "Outdoor & Camping") do %>
  <div class="card-category m-3" style="background-image: url('https://images.unsplash.com/photo-1532339142463-fd0a8979791a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FtcGluZ3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60')">
    <div class="overlay">
      <i class="fas fa-campground card-category-icon"></i>
      <h3>Outdoor & Camping</h3>
    </div>
  </div>
<% end %>

<div class="card-category m-3" style="background-image: url('https://images.unsplash.com/photo-1516510883484-d0b62444067a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8d2F0ZXIlMjBzcG9ydHN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60')">
  <div class="overlay">
    <i class="fas fa-swimmer card-category-icon"></i>
    <h3>Water sports</h3>
  </div>
</div>

<div class="card-category m-3" style="background-image: url('https://images.unsplash.com/photo-1611119535617-ee346f83bb2c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8dGVhbSUyMHNwb3J0fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60')">
  <div class="overlay">
    <i class="fas fa-users card-category-icon"></i>
    <h3>Team sport</h3>
  </div>
</div>

<div class="card-category m-3" style="background-image: url('https://images.unsplash.com/photo-1474623809196-26c1d33457cc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c2t5JTIwZGl2aW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60')">
  <div class="overlay">
    <i class="fas fa-exclamation-triangle card-category-icon"></i>
    <h3>Extreme and fun sport</h3>
  </div>
</div>

<div class="card-category m-3" style="background-image: url('https://images.unsplash.com/photo-1565733362858-3c610e8044cc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c25vd2JvYXJkaW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60')">
  <div class="overlay">
    <i class="fas fa-skiing card-category-icon"></i>
    <h3>Winter sports</h3>
  </div>
</div>

<div class="card-category m-3" style="background-image: url('https://images.unsplash.com/photo-1574965234283-2f20a4cffa43?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YmljeWNsZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60')">
  <div class="overlay">
    <i class="fas fa-biking card-category-icon"></i>
    <h3>Bicycle</h3>
  </div>
</div>

<div class="card-category m-3" style="background-image: url('https://images.unsplash.com/photo-1529230117010-b6c436154f25?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZmlzaGluZ3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60')">
  <div class="overlay">
    <i class="fas fa-fish card-category-icon"></i>
    <h3>Fishing</h3>
  </div>
</div>

<div class="card-category m-3" style="background-image: url('https://images.unsplash.com/photo-1517963879433-6ad2b056d712?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2VpZ2h0bGlmdGluZ3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60')">
  <div class="overlay">
    <i class="fas fa-dumbbell card-category-icon"></i>
    <h3>Fitness</h3>
  </div>
</div>

<div class="card-category m-3" style="background-image: url('https://images.unsplash.com/photo-1499083773823-5000fa2b23e4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2thdGluZ3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60')">
  <div class="overlay">
    <i class="fas fa-skating card-category-icon"></i>
    <h3>Skating</h3>
  </div>
</div>

<div class="card-category m-3" style="background-image: url('https://images.unsplash.com/photo-1537753068441-ae5962264fe7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8aG9ja2V5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60')">
  <div class="overlay">
    <i class="fas fa-table-tennis card-category-icon"></i>
    <h3>Rackets, sticks and clubs</h3>
  </div>
</div>

<div class="card-category m-3" style="background-image: url('https://images.unsplash.com/photo-1517627043994-b991abb62fc8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZGl2aW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60')">
  <div class="overlay">
    <i class="fas fa-water card-category-icon"></i>
    <h3>Diving</h3>
  </div>
</div>

<div class="card-category m-3" style="background-image: url('https://images.unsplash.com/photo-1508582925718-12be0cf69559?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aG9yc2ViYWNrJTIwcmlkaW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60')">
  <div class="overlay">
    <i class="fas fa-horse card-category-icon"></i>
    <h3>Horseback riding</h3>
  </div>
</div>
