<% chatroom.sender == current_user ? @chatpartner = chatroom.recipient : @chatpartner = chatroom.sender %>

<div class="chatroom-content">
  <div class="show-profile">
    <%= cl_image_tag @chatpartner.photo.key, class: "avatar" %>
    <div class="d-flex flex-column justify-content-space-around">
      <div class="show-name">
        <p><%= @chatpartner.first_name %></p>
      </div>
      <div class="show-rating">
        <% if @chatpartner.reviews.any? %>
          <% average = @chatpartner.reviews.map { |review| review.rating }.sum / @chatpartner.reviews.length %>
          <% average.times do %>
           <i class="fas fa-star"></i>
          <% end %>
          <% (5 - average).times do  %>
           <i class="far fa-star"></i>
          <% end %>
        <% else %>
          <p>no reviews yet</p>
        <% end %>
      </div>
    </div>
  </div>

  <i class="far fa-comment-dots chat-icon"></i>
</div>
