<div id="messages" data-chatroom-id="<%= @chatroom.id %>">
  <% @chatroom.messages.each do |message| %>
    <div class="message-container" id="message-<%= message.id %>">
      <p><%= message.content %></p>
      <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
    </div>
  <% end %>
</div>
