<div>
  <div class="show-rating bg-success">
    <% review.rating.times do %>
      <i class="fas fa-star"></i>
    <% end %>
    <% (5 - review.rating).times do  %>
      <i class="far fa-star"></i>
    <% end %>

  </div>

  <div class="bg-primary">
    <div class="mx-5">
      <%= review.content %>
    </div>
  </div>

  <div class="show-profile">
    <%= cl_image_tag users.find(review.author_id).photo.key, class: "avatar" %>
    <div class="d-flex flex-column ml-2">
      <div class="show-name">
        <p><%= users.find(review.author_id).first_name %> <%= users.find(review.author_id).last_name %></p>
      </div>
    </div>
  </div>

</div>