<div>
  <div class="show-profile">
    <%= cl_image_tag offer.reuser.photo.key, class: "avatar" %>
    <div class="d-flex flex-column ml-2">
      <div class="show-name">
        <p><%= offer.user.first_name %></p>
      </div>
      <div class="show-rating">
        <% if offer.user.reviews.any? %>
          <% average = offer.user.reviews.map { |review| review.rating }.sum / offer.user.reviews.length %>
          <% average.times do %>
          <i class="fas fa-star"></i>
          <% end %>
          <% (5 - average).times do  %>
          <i class="far fa-star"></i>
          <% end %>
        <% else %>
          <p><em>no reviews yet</em></p>
        <% end %>
      </div>
    </div>
  </div>
</div>