<div class="d-flex flex-column" style="width: 50vw;">
  <div class="show-rating" style="width: 10vw;">
    <% review.rating.times do %>
      <i class="fas fa-star"></i>
    <% end %>
    <% (5 - review.rating).times do  %>
      <i class="far fa-star"></i>
    <% end %>
  </div>
  <div style="width: 100px;">
    <p><%= review.content, size: 100 %></p>
  </div>
  <div class="show-profile">
    <%= cl_image_tag users.find(review.author_id).photo.key, class: "avatar" %>
    <div class="d-flex flex-column ml-2">
      <div class="show-name">
        <p><%= users.find(review.author_id).first_name %> <%= users.find(review.author_id).last_name %></p>
      </div>
    </div>
  </div>
</div>