<h1><strong>Sportswap!</strong></h1>
<h2>Find sports equipment nearby</h2>

<a class="btn btn-ghost" href="#">Button</a>


<div class="flex-container">
    <div class=“card-whole-link”>
      <div class="card-home p-3">
        <%= link_to offers_path, class:"card-link" do %>
          <div class="card-home-header"> 
            <h3>Find a bicycle!</h3>
          </div>
        <img src="https://images.unsplash.com/photo-1531608139434-1912ae0713cd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80" class="card-home-image" alt="Picture of a bicycle on a beach">
        <% end %>
      </div>
    </div>
</div>


<%= render "shared/carousel", offers: @new_offers %>