<div class="home-background">
  <%= render "shared/header" %>

  <div class="center-container">
    <h1>Be the first one to rent!</h1>
  </div>

  <div class="center-container">
    <%= render "shared/carousel", offers: @new_offers %>
  </div>

  <div class="center-container">
    <%= render "shared/categories" %>
  </div>
</div>
