<h1 class="my-4" style="padding-left: 80px;">Sports Equipment in <%= params[:query] %></h1>

<div class="index" style="display: flex;">
  <div style="display: flex; flex-direction: column; padding-left: 80px;">
    <% @offers.each do |offer| %>
      <%= render partial: 'shared/card-product', locals: {offer: offer} %>
    <% end %>
  </div>
  <div class="index-map col-4 p-3 mb-3">
    <img src="../../assets/images/Map.png" alt="Image of search map with result tags">
  </div>
</div>
