.btn-ghost {
  color: #EF767A;
  border: 2px solid #EF767A;
  padding: 6px 24px;
  border-radius: 5px;
  font-weight: light;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: #EF767A;
}