.card-rent {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
  height: max-content;
}

.card-rent form {
  display: inline-block;
  text-align: left;
  width: 100%;
}

.card-rent-btn {
  display: flex;
  justify-content: center;
}
