.main-center {
  padding-left: 80px;
}

.card-product {
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}

#card-product-img {
  height: 100%;
  min-width: 33%;
  object-fit: cover;
  border-radius: 5px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .avatar {
  margin: 10px;
  margin-left: 0;
}

.card-product .profile {
  display: flex;
  align-items: stretch;
}

.card-product-rightside {
  width: 100%;
}

.card-title-location {
  display: flex;
  justify-content: space-between;
}

.card-title-info {
  display: flex;
  justify-content: space-between;
}

.card-avatar-info {
  height: 40px;
  p {
    margin: 0;
    padding: 0;
  }
}

.rating {
  p {
    margin: 0;
    padding: 0;
    font-weight: 300;
  }
}

.card-category-condition {
  display: flex;
}

.card-tag {
  border-radius: 100px;
  background-color: #dbdbdb;
  margin-right: 5px;
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
  font-weight: 300;
  font-size: 10px !important;
}

.card-tag-invisible {
  border-radius: 100px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.card-description {
  height: 40px;
  margin-top: 15px;
  font-weight: 300;
}

.card-whole-link a {
  color: #0E0000;
  &:hover {
    text-decoration: none;
    outline: none;
  }
  &:focus {
    text-decoration: none;
    outline: none; 
  }
}
