.dashboard-booking-section {
  width: auto;
  max-height: 631px;
  overflow: auto;
  :last-child {
    border: none;
  }
}

.booking-request-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.1)
}

.dashboard-booking-info {
  p {
    margin: 0;
  }
}

.dashboard-booking-buttons {
  font-size: 30px;
}
