header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
}

.hero-group {
  width: 500px;
  margin: 140px;
  position: relative;
}

.hero-group h1, h2 {
  color: $sportswap_red
}

.hero-group h1 {
  font-size: 80px;
  margin-bottom: 24px;
}

#hiker {
  position: absolute;
  right: 160px;
  top: 100px;
}

#soccer {
  position: absolute;
  right: 40px;
  top: 300px;
}

#lifting {
  position: absolute;
  right: 300px;
  top: 360px;
}
