header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
}

.hero-group {
  width: 500px;
  margin: 200px 140px 120px 140px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-group h1, h2 {
  color: $sportswap_red
}

.hero-group h1 {
  font-size: 80px;
  margin-bottom: 24px;
}

#hiker {
  position: absolute;
  right: 200px;
  top: 100px;
}

#soccer {
  position: absolute;
  right: 90px;
  top: 300px;
}

#lifting {
  position: absolute;
  right: 360px;
  top: 400px;
}
