.index-map {
  padding-right: 3rem;
  position: sticky;
  top: 0;
  height: 100%;
  z-index: 100;
}

.mapboxgl-popup-close-button {
  font-size: 2.5rem;
  font-weight: lighter;
  opacity: 0.5;
  background-color: white !important;
}

.mapboxgl-popup-content p {
  margin-bottom: 8px !important;
}
