.offer-confirmation-modal-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer-confirmation-modal {
  height: 65vh;
  width: 60vw;
  background-color: white;
  border-radius: 5px;
}

.confirmation-photo {
  width: 94%;
  height: 60%;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

.offer-confirmation-title-red {
  color: $sportswap-red !important;
}

.offer-confirmation-modal-text {
  margin-top: 24px;
  padding-bottom: 14px;
}

.offer-confirmation-list-container {
  display: flex;
  align-items: center;
  p {
    margin-top: 10px;
    margin-bottom: 12px;
  }
}
